<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DiViDu.My.MySettings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <DiViDu.My.MySettings>
      <setting name="screenWidthInCm" serializeAs="String">
        <value>33.75</value>
      </setting>
      <setting name="screenHeightInCm" serializeAs="String">
        <value>27</value>
      </setting>
      <setting name="screenWidhtInPx" serializeAs="String">
        <value>1280</value>
      </setting>
      <setting name="screenHeightInPx" serializeAs="String">
        <value>1024</value>
      </setting>
      <setting name="TappingLeft" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="keyWordLeft" serializeAs="String">
        <value>F2</value>
      </setting>
      <setting name="keyWordRight" serializeAs="String">
        <value>F11</value>
      </setting>
      <setting name="keyPseudoWordLeft" serializeAs="String">
        <value>F1</value>
      </setting>
      <setting name="keyPseudoWordRight" serializeAs="String">
        <value>F12</value>
      </setting>
      <setting name="wordListFilename" serializeAs="String">
        <value />
      </setting>
      <setting name="logFileName" serializeAs="String">
        <value />
      </setting>
      <setting name="breakDistance" serializeAs="String">
        <value>80</value>
      </setting>
      <setting name="lblStart" serializeAs="String">
        <value>Press ESC to start the experiment</value>
      </setting>
      <setting name="lblBreak" serializeAs="String">
        <value>BREAK - Press ESC to continue the experiment</value>
      </setting>
      <setting name="lblTapping" serializeAs="String">
        <value>TAPPING until the next break</value>
      </setting>
      <setting name="lblTappingOff" serializeAs="String">
        <value>NO TAPPING until the next break</value>
      </setting>
      <setting name="lblFinish" serializeAs="String">
        <value>Thank you for participating in our study - Press ESC to exit the experiment</value>
      </setting>
      <setting name="durationStart" serializeAs="String">
        <value>1000000000</value>
      </setting>
      <setting name="durationTapping" serializeAs="String">
        <value>3000</value>
      </setting>
      <setting name="durationFixation" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="durationInterstimulus" serializeAs="String">
        <value>1200</value>
      </setting>
      <setting name="durationStimulus" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="durationResponse" serializeAs="String">
        <value>3000</value>
      </setting>
      <setting name="durationBreak" serializeAs="String">
        <value>1000000000</value>
      </setting>
      <setting name="keysTappingRight" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>F1</string>
            <string>F2</string>
            <string>F3</string>
            <string>F4</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="keysTappingLeft" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>F12</string>
            <string>F11</string>
            <string>F10</string>
            <string>F9</string>
          </ArrayOfString>
        </value>
      </setting>
    </DiViDu.My.MySettings>
  </userSettings>
</configuration>